<p id="notice"><%= notice %></p>

<h1>Listing Excuse Cards</h1>

<table>
  <thead>
    <tr>
      <th>Check in</th>
      <th>Check out</th>
      <th>Excuse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excuse_cards.each do |excuse_card| %>
      <tr>
        <td><%= excuse_card.check_in %></td>
        <td><%= excuse_card.check_out %></td>
        <td><%= excuse_card.excuse_id %></td>
        <td><%= link_to 'Show', excuse_card %></td>
        <td><%= link_to 'Edit', edit_excuse_card_path(excuse_card) %></td>
        <td><%= link_to 'Destroy', excuse_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excuse card', new_excuse_card_path %>
